<h1>User Details</h1>
<p>Username: <%= @user.username %></p>
<p>Email Address: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>
<p><a href="/users/<%= current_user.id %>/edit">edit</a></p>
