<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>User Details</h5>
        <ul class="collection">
          <li class="collection-item">Username: <%= @user.username %></li>
          <li class="collection-item">Email Address: <%= @user.username %></li>
          <li class="collection-item">Account Created: <%= @user.created_at.strftime("%B %d, %Y")%></li>
        </ul>
      </div>
    </div>
  </div>
</div>
