<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Conversation Starter</title>
</head>
<header>
  <nav>
  <ul class="">
    <% if logged_in? %>
      <li><a href="/">Home</a></li>
      <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/">Home</a></li>
      <li><a href="/users/new">Register</a></li>
      <li><a href="/login">Login</a></li>
    <% end %>
  </ul>
</nav>
</header>
<body>
  <%= yield %>
</body>
</html>
